* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgb(48, 46, 46);
}
.container_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(250, 248, 248);
  padding: 2.3rem 10rem;
  box-shadow: 0px 0px 10px 2px orange;
  border: none solid black;
}
h1 {
  font-size: 5rem;
  margin-bottom: 3rem;
  font-family: cursive;
  /* font-weight: 600; */
  letter-spacing: 1.2rem;
  /* text-shadow: 5px 0px 5px black; */
  background: linear-gradient(
    to right,
    orange,
    green,
    rgb(125, 34, 49),
    yellow
  );
  background-clip: text;
  color: transparent;
}
h4 {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input label {
  font-size: 1.5rem;
  font-family: cursive;
  font-weight: 800;
}
input {
  width: 70rem;
  height: 2.7rem;
  border-radius: 0.3rem;
  border: 0.5px solid red;
  margin-top: 12px;
}

.btn {
  height: 4rem;
  background: rgb(71, 157, 71);
  color: white;
  font-size: 2.5rem;
  font-family: "Times New Roman", Times, serif;
  border: none;
  font-weight: 500;
}

#total {
  font-size: 1.5rem;
  margin-top: 1rem;
}
